@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 300; */
}

body {
  margin: 0;
}

img {
  width: 50vw;
  height: 100vh;
}

.left-side {
  width: 50%;
  min-height: 100vh;
  background-color: #d9d9d9;
}

.right-side {
  width: 50%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.right-side > div {
  background-color: #d9d9d9;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 3px;
  width: 90%;
  border-radius: 9px;
}

.right-side > div > p {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 400;
}

input, textarea {
  background-color: #d9d9d9;
  border: none;
}

input {
  border-radius:  9px;
  width: 98%;
  padding: 2px 6px;
}


h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.main {
  display: flex;
}

button {
  background-color: #d9d9d9;
  padding: 1rem;
  border: none;
  border-radius: 9px;
  font-size: 1rem;
}
