@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");


.navbar_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
}
.navbar {
  background: #ffffff !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */

}

.ant-modal-mask{
  background-color : rgba(0,0,0,0.8) !important;
  }